<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to Chen' Demo page! </h1>
    <h2>Please input your pet's name and height</h2>
    
    <p>
        Valid input numbers are from 1 to 100
    </p>
    <img src="/static/flasklogo.png">

    <form action="/result" autocomplete="on" method = "POST" enctype="multipart/form-data">

      

          Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="name" ><br><br>

          Height:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="height">cm<br><br>

         

          <button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">submit</button>

    </form>
    <p>
        {{message}}
    </p>
</body>
</html>
